DHIS2_BASE_URL=https://cranemis.org/ehss
DHIS2_API_VERSION=29
DHIS2_TOKEN=
DATASET_UID=kLI7vQxaSAy
REFRESH_SECRET=replace_with_strong_secret
APP_TIMEZONE=Africa/Kampala
PORT=3000
NODE_ENV=production
FRAME_ANCESTORS='self' http://127.0.0.1:4175 http://localhost:4175 https://musph.cc
